/*logoImages*/
body{
	min-height: 100vh;
}
.logoImage{
	width: 130px;
	height: 130px;
}

/*navigation menu bar*/
.navbar-default{
	background-color: #FFFFFF;
	color: #000000;
	border-style: none;
}

.navbar-nav li{
	padding-right: 50px;
}

.navbar-default .navbar-nav li a{
	background-color: #FFFFFF;
	color:  black;
	font-style: bold;
}

.navbar-default .navbar-nav li a:hover{	
	background-color: #cceeff;
	color: #33ccff;
	font-style: bold;
}

.navbar-default .navbar-nav li a.active{	
	background-color: white;
	border-bottom:3px solid #66d9ff;
}

/*gradient color*/
#bgGradientColor{
    background: -webkit-linear-gradient(left, #66d9ff , #99e6ff, #4dd2ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #66d9ff , #99e6ff, #4dd2ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #66d9ff , #99e6ff, #4dd2ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #66d9ff , #99e6ff, #4dd2ff); /* Standard syntax (must be last) */
}

#homePartDummy{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.10);
}
#movieList{
	list-style-type: none;
}
/*-------------------------------------------------------------
			contact us form stylesheet
---------------------------------------------------------------*/
div#homePartDummy input{
	width:480px;
	height:35px;
	margin-left: 300px;
	padding-left: 10px;
	margin-top: 10px;
}
div#homePartDummy textarea{
	margin-left: 300px;
	padding: 10px;
}
div#homePartDummy input#submit{
	background-color:#3fb8e8;
	color:#fff;
	height:30px;
	font-size:16px;
	width:80px;
	margin-top: -10px;
	margin-left: 570px;
	margin-bottom: 10px;
}
#full{
    min-height:100vh;
    position: relative;
}
.footerSection{
	background-color: black;
	height: 40px;
	width: 100%;
	bottom: 0;
	margin-top: 10px;
}
.footerSection p{
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}